In [1]:
import mysql.connector as sq

mydb=sq.connect(host="localhost",user="root",passwd="ucla", buffered=True)
# mydb=sq.MySQLConnection(host="localhost",user="root",passwd="ucla", buffered=True)
# mydb=sq.connect(host="localhost",user="root",passwd="ucla")

In [2]:
mycursor = mydb.cursor()

In [3]:

mycursor.execute('CREATE DATABASE IF NOT EXISTS PyDB1000')

In [4]:
mycursor.execute("CREATE TABLE PyDB1000.PyTABLE (id int not null, name text not null, salary float not null, primary key(id))")

In [ ]:
# mycursor.execute("INSERT INTO PyDB1000.PyTABLE (id, name, salary)VALUES    (100,'John Hall',12300.55)")
# mycursor.execute("INSERT INTO PyDB1000.PyTABLE (id, name, salary)VALUES(101,'John Smith',10300.15)")
# mycursor.execute("INSERT INTO PyDB1000.PyTABLE (id, name, salary)VALUES(102,'Susan Jones',11500.57)")

In [5]:
SQLCMD = "INSERT INTO PyDB1000.PyTABLE (id, name, salary)VALUES(%s,%s,%s)"
values = [(100,'John Hall',12300.55),(101,'John Smith',10300.15),(102,'Susan Jones',11500.57)]

In [6]:
mycursor.executemany(SQLCMD, values)

In [7]:
mydb.commit()

In [8]:
mycursor.execute('SHOW DATABASES')

In [9]:
all=mycursor.fetchall()
print(all)

[('cookies',), ('db1004',), ('information_schema',), ('mydemo',), ('mysql',), ('mystore',), ('mystore2',), ('nj_teachers1',), ('nj_teachers2',), ('nj_teachers_salaries_db',), ('performance_schema',), ('property',), ('pydb1000',), ('sakila',), ('supercookiesstore',), ('sys',), ('world',)]

In [11]:
for db in mycursor:
    print (db)

(100, 'John Hall', 12300.5)
(101, 'John Smith', 10300.2)
(102, 'Susan Jones', 11500.6)

In [10]:
mycursor.execute("SELECT * FROM PyDB1000.PyTABLE")

In [12]:
mycursor.close()

True

In [ ]:
mycursor.execute('SHOW DATABASES')

In [ ]:
result