In [2]:
import mysql.connector as sq
mydb=sq.connect(host="localhost",user="root",passwd="takhar35",buffered=True)
mycursor=mydb.cursor()
mycursor.execute("SHOW DATABASES")
for db in mycursor:
    print (db)

('information_schema',)
('mysql',)
('mystore',)
('performance_schema',)
('PyDB',)
('sys',)

In [12]:
mycursor.execute('CREATE DATABASE PyDB')
mycursor.execute('CREATE TABLE PyDB.PyTABLE (id int not null, name text not null, salary float not null, primary key(id))')

In [14]:
SQLCMD = 'INSERT INTO PyDB.PyTABLE (id, name, salary) VALUES(%s,%s,%s)'
values = [(100, 'John Hall', 12300.55),(101,'John Smith', 10300.15), (102, 'Susan Jones', 11500.57)]

In [16]:
mycursor.executemany(SQLCMD, values)

In [18]:
mydb.commit()

In [20]:
mycursor.execute('SHOW DATABASES')

In [8]:
for db in mycursor:
    print(db)