CSCI 101: Foundation of Data Science and Engineering<br>
Author: Bruce Huang, Ph.D., Ed.D.<br>
<br>
Topics: Data Cleaning and Filtering <br>

In [1]:
# import pandas and numpy
import pandas as pd
import numpy as np

# read csv file into data frame
df = pd.read_csv('cookies dirty data.csv')

In [2]:
df

         Date        Day  Temperature Salesman Tweets  Price Sales
0    1/1/2019    Tuesday         72.0     John      2    0.5   177
1         NaN        NaN          NaN      NaN    NaN    NaN   NaN
2    1/3/2019   Thursday         69.0     John      5    0.5   172
3    1/4/2019     Friday        100.0     John      7    0.5   150
4         NaN        NaN          NaN      NaN    NaN    NaN   NaN
5    1/6/2019     Sunday         91.0      Ada      8    0.5   120
6    1/7/2019     Monday         81.0      Ada      3    0.3    96
7         NaN        NaN          NaN      NaN    NaN    NaN   NaN
8    1/9/2019  Wednesday         69.0     John      8    0.5   177
9   1/10/2019   Thursday         61.0     John     10    0.5   190
10  1/11/2019     Friday         79.0     John      1    0.5   154
11  1/12/2019   Saturday         94.0     John      H    0.5   160
12  1/13/2019     Sunday         80.0     John      5    0.5   161
13  1/14/2019     Monday         64.0     John      8    0.5   185
14  1/15/2019    Tuesday         94.0      Ada      6    0.5   137
15  1/16/2019  Wednesday         68.0      Ada      5    0.3     $
16  1/17/2019   Thursday         74.0      Ada      2    0.3    85
17  1/18/2019     Friday         89.0     John      4    0.5   122
18  1/19/2019   Saturday         87.0     John      6    0.5   187
19  1/20/2019     Sunday        100.0     John      7    0.5   165
20  1/21/2019     Monday         89.0     John      8    0.5   158
21  1/22/2019    Tuesday         82.0     John      6    0.5   192
22  1/23/2019  Wednesday         60.0      Ada      7    0.3    87
23  1/24/2019   Thursday         75.0     John      1    0.5   156
24  1/25/2019     Friday         82.0      Ada      7    0.3    84
25  1/26/2019   Saturday         69.0     John      0    0.5   125
26  1/27/2019     Sunday         82.0      Ada      6    0.3   177
27  1/28/2019     Monday         96.0     John     10    0.5   166
28  1/29/2019    Tuesday         84.0     John      4    0.5   198
29  1/30/2019  Wednesday         84.0      Ada      7    0.3   105
30  1/31/2019   Thursday         92.0     John      8    0.5   172
31   2/1/2019     Friday         92.0     John      9    0.5   121
32   2/2/2019   Saturday         69.0     John      9    0.5   187
33   2/3/2019     Sunday         65.0     John      6    0.5   194
34   2/4/2019     Monday         67.0      Ada      3    0.3    94
35   2/5/2019    Tuesday         70.0     John      4    0.5   193
36   2/6/2019  Wednesday         86.0      Ada      5    0.3   114
37   2/7/2019   Thursday         71.0      Ada      3    0.3   110
38   2/8/2019     Friday         90.0     John      3    0.5   162
39   2/9/2019   Saturday         87.0     John      6    0.5   141
40        NaN        NaN          NaN      NaN    NaN    NaN   NaN
41  2/11/2019     Monday         68.0     John      2    0.5   158
42  2/12/2019    Tuesday         80.0     John      0    0.5   174
43  2/13/2019  Wednesday         78.0     John      0    0.5   142
44  2/14/2019   Thursday         85.0     John      1    0.5   126
45  2/15/2019     Friday         83.0      Ada      4    0.3    87
46  2/16/2019   Saturday         71.0     John      3    0.5   199
47  2/17/2019     Sunday         96.0     John      2    0.5   141
48  2/18/2019     Monday         80.0     John      6    0.5   200
49  2/19/2019    Tuesday         71.0     John      2    0.5   193

In [3]:
# drop rows if all elements are blank
df.dropna(how="all", inplace = True)

In [4]:
df

         Date        Day  Temperature Salesman Tweets  Price Sales
0    1/1/2019    Tuesday         72.0     John      2    0.5   177
2    1/3/2019   Thursday         69.0     John      5    0.5   172
3    1/4/2019     Friday        100.0     John      7    0.5   150
5    1/6/2019     Sunday         91.0      Ada      8    0.5   120
6    1/7/2019     Monday         81.0      Ada      3    0.3    96
8    1/9/2019  Wednesday         69.0     John      8    0.5   177
9   1/10/2019   Thursday         61.0     John     10    0.5   190
10  1/11/2019     Friday         79.0     John      1    0.5   154
11  1/12/2019   Saturday         94.0     John      H    0.5   160
12  1/13/2019     Sunday         80.0     John      5    0.5   161
13  1/14/2019     Monday         64.0     John      8    0.5   185
14  1/15/2019    Tuesday         94.0      Ada      6    0.5   137
15  1/16/2019  Wednesday         68.0      Ada      5    0.3     $
16  1/17/2019   Thursday         74.0      Ada      2    0.3    85
17  1/18/2019     Friday         89.0     John      4    0.5   122
18  1/19/2019   Saturday         87.0     John      6    0.5   187
19  1/20/2019     Sunday        100.0     John      7    0.5   165
20  1/21/2019     Monday         89.0     John      8    0.5   158
21  1/22/2019    Tuesday         82.0     John      6    0.5   192
22  1/23/2019  Wednesday         60.0      Ada      7    0.3    87
23  1/24/2019   Thursday         75.0     John      1    0.5   156
24  1/25/2019     Friday         82.0      Ada      7    0.3    84
25  1/26/2019   Saturday         69.0     John      0    0.5   125
26  1/27/2019     Sunday         82.0      Ada      6    0.3   177
27  1/28/2019     Monday         96.0     John     10    0.5   166
28  1/29/2019    Tuesday         84.0     John      4    0.5   198
29  1/30/2019  Wednesday         84.0      Ada      7    0.3   105
30  1/31/2019   Thursday         92.0     John      8    0.5   172
31   2/1/2019     Friday         92.0     John      9    0.5   121
32   2/2/2019   Saturday         69.0     John      9    0.5   187
33   2/3/2019     Sunday         65.0     John      6    0.5   194
34   2/4/2019     Monday         67.0      Ada      3    0.3    94
35   2/5/2019    Tuesday         70.0     John      4    0.5   193
36   2/6/2019  Wednesday         86.0      Ada      5    0.3   114
37   2/7/2019   Thursday         71.0      Ada      3    0.3   110
38   2/8/2019     Friday         90.0     John      3    0.5   162
39   2/9/2019   Saturday         87.0     John      6    0.5   141
41  2/11/2019     Monday         68.0     John      2    0.5   158
42  2/12/2019    Tuesday         80.0     John      0    0.5   174
43  2/13/2019  Wednesday         78.0     John      0    0.5   142
44  2/14/2019   Thursday         85.0     John      1    0.5   126
45  2/15/2019     Friday         83.0      Ada      4    0.3    87
46  2/16/2019   Saturday         71.0     John      3    0.5   199
47  2/17/2019     Sunday         96.0     John      2    0.5   141
48  2/18/2019     Monday         80.0     John      6    0.5   200
49  2/19/2019    Tuesday         71.0     John      2    0.5   193

In [5]:
# remove leading/trailing spaces
df["Salesman"] = df["Salesman"].str.strip()

In [6]:
df

         Date        Day  Temperature Salesman Tweets  Price Sales
0    1/1/2019    Tuesday         72.0     John      2    0.5   177
2    1/3/2019   Thursday         69.0     John      5    0.5   172
3    1/4/2019     Friday        100.0     John      7    0.5   150
5    1/6/2019     Sunday         91.0      Ada      8    0.5   120
6    1/7/2019     Monday         81.0      Ada      3    0.3    96
8    1/9/2019  Wednesday         69.0     John      8    0.5   177
9   1/10/2019   Thursday         61.0     John     10    0.5   190
10  1/11/2019     Friday         79.0     John      1    0.5   154
11  1/12/2019   Saturday         94.0     John      H    0.5   160
12  1/13/2019     Sunday         80.0     John      5    0.5   161
13  1/14/2019     Monday         64.0     John      8    0.5   185
14  1/15/2019    Tuesday         94.0      Ada      6    0.5   137
15  1/16/2019  Wednesday         68.0      Ada      5    0.3     $
16  1/17/2019   Thursday         74.0      Ada      2    0.3    85
17  1/18/2019     Friday         89.0     John      4    0.5   122
18  1/19/2019   Saturday         87.0     John      6    0.5   187
19  1/20/2019     Sunday        100.0     John      7    0.5   165
20  1/21/2019     Monday         89.0     John      8    0.5   158
21  1/22/2019    Tuesday         82.0     John      6    0.5   192
22  1/23/2019  Wednesday         60.0      Ada      7    0.3    87
23  1/24/2019   Thursday         75.0     John      1    0.5   156
24  1/25/2019     Friday         82.0      Ada      7    0.3    84
25  1/26/2019   Saturday         69.0     John      0    0.5   125
26  1/27/2019     Sunday         82.0      Ada      6    0.3   177
27  1/28/2019     Monday         96.0     John     10    0.5   166
28  1/29/2019    Tuesday         84.0     John      4    0.5   198
29  1/30/2019  Wednesday         84.0      Ada      7    0.3   105
30  1/31/2019   Thursday         92.0     John      8    0.5   172
31   2/1/2019     Friday         92.0     John      9    0.5   121
32   2/2/2019   Saturday         69.0     John      9    0.5   187
33   2/3/2019     Sunday         65.0     John      6    0.5   194
34   2/4/2019     Monday         67.0      Ada      3    0.3    94
35   2/5/2019    Tuesday         70.0     John      4    0.5   193
36   2/6/2019  Wednesday         86.0      Ada      5    0.3   114
37   2/7/2019   Thursday         71.0      Ada      3    0.3   110
38   2/8/2019     Friday         90.0     John      3    0.5   162
39   2/9/2019   Saturday         87.0     John      6    0.5   141
41  2/11/2019     Monday         68.0     John      2    0.5   158
42  2/12/2019    Tuesday         80.0     John      0    0.5   174
43  2/13/2019  Wednesday         78.0     John      0    0.5   142
44  2/14/2019   Thursday         85.0     John      1    0.5   126
45  2/15/2019     Friday         83.0      Ada      4    0.3    87
46  2/16/2019   Saturday         71.0     John      3    0.5   199
47  2/17/2019     Sunday         96.0     John      2    0.5   141
48  2/18/2019     Monday         80.0     John      6    0.5   200
49  2/19/2019    Tuesday         71.0     John      2    0.5   193

In [7]:
# replaces invalid valuzes with NaN for one column
df['Price'] = df['Price'].replace('[^0-9]',np.NaN,regex=True)

In [8]:
df['Price']

0     0.5
2     0.5
3     0.5
5     0.5
6     0.3
8     0.5
9     0.5
10    0.5
11    0.5
12    0.5
13    0.5
14    0.5
15    0.3
16    0.3
17    0.5
18    0.5
19    0.5
20    0.5
21    0.5
22    0.3
23    0.5
24    0.3
25    0.5
26    0.3
27    0.5
28    0.5
29    0.3
30    0.5
31    0.5
32    0.5
33    0.5
34    0.3
35    0.5
36    0.3
37    0.3
38    0.5
39    0.5
41    0.5
42    0.5
43    0.5
44    0.5
45    0.3
46    0.5
47    0.5
48    0.5
49    0.5
Name: Price, dtype: float64

In [9]:
# replaces invalid values with NaN for multiple columns
df[['Tweets','Sales']] = df[['Tweets','Sales']].replace('[^0-9]',np.NaN,regex=True)

In [10]:
df

         Date        Day  Temperature Salesman Tweets  Price Sales
0    1/1/2019    Tuesday         72.0     John      2    0.5   177
2    1/3/2019   Thursday         69.0     John      5    0.5   172
3    1/4/2019     Friday        100.0     John      7    0.5   150
5    1/6/2019     Sunday         91.0      Ada      8    0.5   120
6    1/7/2019     Monday         81.0      Ada      3    0.3    96
8    1/9/2019  Wednesday         69.0     John      8    0.5   177
9   1/10/2019   Thursday         61.0     John     10    0.5   190
10  1/11/2019     Friday         79.0     John      1    0.5   154
11  1/12/2019   Saturday         94.0     John    NaN    0.5   160
12  1/13/2019     Sunday         80.0     John      5    0.5   161
13  1/14/2019     Monday         64.0     John      8    0.5   185
14  1/15/2019    Tuesday         94.0      Ada      6    0.5   137
15  1/16/2019  Wednesday         68.0      Ada      5    0.3   NaN
16  1/17/2019   Thursday         74.0      Ada      2    0.3    85
17  1/18/2019     Friday         89.0     John      4    0.5   122
18  1/19/2019   Saturday         87.0     John      6    0.5   187
19  1/20/2019     Sunday        100.0     John      7    0.5   165
20  1/21/2019     Monday         89.0     John      8    0.5   158
21  1/22/2019    Tuesday         82.0     John      6    0.5   192
22  1/23/2019  Wednesday         60.0      Ada      7    0.3    87
23  1/24/2019   Thursday         75.0     John      1    0.5   156
24  1/25/2019     Friday         82.0      Ada      7    0.3    84
25  1/26/2019   Saturday         69.0     John      0    0.5   125
26  1/27/2019     Sunday         82.0      Ada      6    0.3   177
27  1/28/2019     Monday         96.0     John     10    0.5   166
28  1/29/2019    Tuesday         84.0     John      4    0.5   198
29  1/30/2019  Wednesday         84.0      Ada      7    0.3   105
30  1/31/2019   Thursday         92.0     John      8    0.5   172
31   2/1/2019     Friday         92.0     John      9    0.5   121
32   2/2/2019   Saturday         69.0     John      9    0.5   187
33   2/3/2019     Sunday         65.0     John      6    0.5   194
34   2/4/2019     Monday         67.0      Ada      3    0.3    94
35   2/5/2019    Tuesday         70.0     John      4    0.5   193
36   2/6/2019  Wednesday         86.0      Ada      5    0.3   114
37   2/7/2019   Thursday         71.0      Ada      3    0.3   110
38   2/8/2019     Friday         90.0     John      3    0.5   162
39   2/9/2019   Saturday         87.0     John      6    0.5   141
41  2/11/2019     Monday         68.0     John      2    0.5   158
42  2/12/2019    Tuesday         80.0     John      0    0.5   174
43  2/13/2019  Wednesday         78.0     John      0    0.5   142
44  2/14/2019   Thursday         85.0     John      1    0.5   126
45  2/15/2019     Friday         83.0      Ada      4    0.3    87
46  2/16/2019   Saturday         71.0     John      3    0.5   199
47  2/17/2019     Sunday         96.0     John      2    0.5   141
48  2/18/2019     Monday         80.0     John      6    0.5   200
49  2/19/2019    Tuesday         71.0     John      2    0.5   193

In [11]:
# drop rows if one or more elements are blank
df = df.dropna()

In [12]:
df

         Date        Day  Temperature Salesman Tweets  Price Sales
0    1/1/2019    Tuesday         72.0     John      2    0.5   177
2    1/3/2019   Thursday         69.0     John      5    0.5   172
3    1/4/2019     Friday        100.0     John      7    0.5   150
5    1/6/2019     Sunday         91.0      Ada      8    0.5   120
6    1/7/2019     Monday         81.0      Ada      3    0.3    96
8    1/9/2019  Wednesday         69.0     John      8    0.5   177
9   1/10/2019   Thursday         61.0     John     10    0.5   190
10  1/11/2019     Friday         79.0     John      1    0.5   154
12  1/13/2019     Sunday         80.0     John      5    0.5   161
13  1/14/2019     Monday         64.0     John      8    0.5   185
14  1/15/2019    Tuesday         94.0      Ada      6    0.5   137
16  1/17/2019   Thursday         74.0      Ada      2    0.3    85
17  1/18/2019     Friday         89.0     John      4    0.5   122
18  1/19/2019   Saturday         87.0     John      6    0.5   187
19  1/20/2019     Sunday        100.0     John      7    0.5   165
20  1/21/2019     Monday         89.0     John      8    0.5   158
21  1/22/2019    Tuesday         82.0     John      6    0.5   192
22  1/23/2019  Wednesday         60.0      Ada      7    0.3    87
23  1/24/2019   Thursday         75.0     John      1    0.5   156
24  1/25/2019     Friday         82.0      Ada      7    0.3    84
25  1/26/2019   Saturday         69.0     John      0    0.5   125
26  1/27/2019     Sunday         82.0      Ada      6    0.3   177
27  1/28/2019     Monday         96.0     John     10    0.5   166
28  1/29/2019    Tuesday         84.0     John      4    0.5   198
29  1/30/2019  Wednesday         84.0      Ada      7    0.3   105
30  1/31/2019   Thursday         92.0     John      8    0.5   172
31   2/1/2019     Friday         92.0     John      9    0.5   121
32   2/2/2019   Saturday         69.0     John      9    0.5   187
33   2/3/2019     Sunday         65.0     John      6    0.5   194
34   2/4/2019     Monday         67.0      Ada      3    0.3    94
35   2/5/2019    Tuesday         70.0     John      4    0.5   193
36   2/6/2019  Wednesday         86.0      Ada      5    0.3   114
37   2/7/2019   Thursday         71.0      Ada      3    0.3   110
38   2/8/2019     Friday         90.0     John      3    0.5   162
39   2/9/2019   Saturday         87.0     John      6    0.5   141
41  2/11/2019     Monday         68.0     John      2    0.5   158
42  2/12/2019    Tuesday         80.0     John      0    0.5   174
43  2/13/2019  Wednesday         78.0     John      0    0.5   142
44  2/14/2019   Thursday         85.0     John      1    0.5   126
45  2/15/2019     Friday         83.0      Ada      4    0.3    87
46  2/16/2019   Saturday         71.0     John      3    0.5   199
47  2/17/2019     Sunday         96.0     John      2    0.5   141
48  2/18/2019     Monday         80.0     John      6    0.5   200
49  2/19/2019    Tuesday         71.0     John      2    0.5   193

In [13]:
# convert Date string to datetime object
df['Date'] = pd.to_datetime(df['Date'], format = '%m/%d/%Y')

# assigning the results to all rows from the 'Date' column
# df.loc[:, 'Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y')

# df2 = df.copy()
# df2['Date'] = pd.to_datetime(df2['Date'], format='%m/%d/%Y')
# df = df2

C:\Users\DrBru\AppData\Local\Temp\ipykernel_33264\174939325.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'], format = '%m/%d/%Y')

In [14]:
df

         Date        Day  Temperature Salesman Tweets  Price Sales
0  2019-01-01    Tuesday         72.0     John      2    0.5   177
2  2019-01-03   Thursday         69.0     John      5    0.5   172
3  2019-01-04     Friday        100.0     John      7    0.5   150
5  2019-01-06     Sunday         91.0      Ada      8    0.5   120
6  2019-01-07     Monday         81.0      Ada      3    0.3    96
8  2019-01-09  Wednesday         69.0     John      8    0.5   177
9  2019-01-10   Thursday         61.0     John     10    0.5   190
10 2019-01-11     Friday         79.0     John      1    0.5   154
12 2019-01-13     Sunday         80.0     John      5    0.5   161
13 2019-01-14     Monday         64.0     John      8    0.5   185
14 2019-01-15    Tuesday         94.0      Ada      6    0.5   137
16 2019-01-17   Thursday         74.0      Ada      2    0.3    85
17 2019-01-18     Friday         89.0     John      4    0.5   122
18 2019-01-19   Saturday         87.0     John      6    0.5   187
19 2019-01-20     Sunday        100.0     John      7    0.5   165
20 2019-01-21     Monday         89.0     John      8    0.5   158
21 2019-01-22    Tuesday         82.0     John      6    0.5   192
22 2019-01-23  Wednesday         60.0      Ada      7    0.3    87
23 2019-01-24   Thursday         75.0     John      1    0.5   156
24 2019-01-25     Friday         82.0      Ada      7    0.3    84
25 2019-01-26   Saturday         69.0     John      0    0.5   125
26 2019-01-27     Sunday         82.0      Ada      6    0.3   177
27 2019-01-28     Monday         96.0     John     10    0.5   166
28 2019-01-29    Tuesday         84.0     John      4    0.5   198
29 2019-01-30  Wednesday         84.0      Ada      7    0.3   105
30 2019-01-31   Thursday         92.0     John      8    0.5   172
31 2019-02-01     Friday         92.0     John      9    0.5   121
32 2019-02-02   Saturday         69.0     John      9    0.5   187
33 2019-02-03     Sunday         65.0     John      6    0.5   194
34 2019-02-04     Monday         67.0      Ada      3    0.3    94
35 2019-02-05    Tuesday         70.0     John      4    0.5   193
36 2019-02-06  Wednesday         86.0      Ada      5    0.3   114
37 2019-02-07   Thursday         71.0      Ada      3    0.3   110
38 2019-02-08     Friday         90.0     John      3    0.5   162
39 2019-02-09   Saturday         87.0     John      6    0.5   141
41 2019-02-11     Monday         68.0     John      2    0.5   158
42 2019-02-12    Tuesday         80.0     John      0    0.5   174
43 2019-02-13  Wednesday         78.0     John      0    0.5   142
44 2019-02-14   Thursday         85.0     John      1    0.5   126
45 2019-02-15     Friday         83.0      Ada      4    0.3    87
46 2019-02-16   Saturday         71.0     John      3    0.5   199
47 2019-02-17     Sunday         96.0     John      2    0.5   141
48 2019-02-18     Monday         80.0     John      6    0.5   200
49 2019-02-19    Tuesday         71.0     John      2    0.5   193

In [15]:
# save date frame to CSV file
df.to_csv("cookies_clean1.csv", index= False)

In [16]:
df.head()

        Date       Day  Temperature Salesman Tweets  Price Sales
0 2019-01-01   Tuesday         72.0     John      2    0.5   177
2 2019-01-03  Thursday         69.0     John      5    0.5   172
3 2019-01-04    Friday        100.0     John      7    0.5   150
5 2019-01-06    Sunday         91.0      Ada      8    0.5   120
6 2019-01-07    Monday         81.0      Ada      3    0.3    96

In [17]:
# create filter to select rows based on column value
df_filter = df['Salesman'] == 'John'

In [18]:
df_filter

0      True
2      True
3      True
5     False
6     False
8      True
9      True
10     True
12     True
13     True
14    False
16    False
17     True
18     True
19     True
20     True
21     True
22    False
23     True
24    False
25     True
26    False
27     True
28     True
29    False
30     True
31     True
32     True
33     True
34    False
35     True
36    False
37    False
38     True
39     True
41     True
42     True
43     True
44     True
45    False
46     True
47     True
48     True
49     True
Name: Salesman, dtype: bool

In [19]:
# apply filter to display df values
df[df_filter]

         Date        Day  Temperature Salesman Tweets  Price Sales
0  2019-01-01    Tuesday         72.0     John      2    0.5   177
2  2019-01-03   Thursday         69.0     John      5    0.5   172
3  2019-01-04     Friday        100.0     John      7    0.5   150
8  2019-01-09  Wednesday         69.0     John      8    0.5   177
9  2019-01-10   Thursday         61.0     John     10    0.5   190
10 2019-01-11     Friday         79.0     John      1    0.5   154
12 2019-01-13     Sunday         80.0     John      5    0.5   161
13 2019-01-14     Monday         64.0     John      8    0.5   185
17 2019-01-18     Friday         89.0     John      4    0.5   122
18 2019-01-19   Saturday         87.0     John      6    0.5   187
19 2019-01-20     Sunday        100.0     John      7    0.5   165
20 2019-01-21     Monday         89.0     John      8    0.5   158
21 2019-01-22    Tuesday         82.0     John      6    0.5   192
23 2019-01-24   Thursday         75.0     John      1    0.5   156
25 2019-01-26   Saturday         69.0     John      0    0.5   125
27 2019-01-28     Monday         96.0     John     10    0.5   166
28 2019-01-29    Tuesday         84.0     John      4    0.5   198
30 2019-01-31   Thursday         92.0     John      8    0.5   172
31 2019-02-01     Friday         92.0     John      9    0.5   121
32 2019-02-02   Saturday         69.0     John      9    0.5   187
33 2019-02-03     Sunday         65.0     John      6    0.5   194
35 2019-02-05    Tuesday         70.0     John      4    0.5   193
38 2019-02-08     Friday         90.0     John      3    0.5   162
39 2019-02-09   Saturday         87.0     John      6    0.5   141
41 2019-02-11     Monday         68.0     John      2    0.5   158
42 2019-02-12    Tuesday         80.0     John      0    0.5   174
43 2019-02-13  Wednesday         78.0     John      0    0.5   142
44 2019-02-14   Thursday         85.0     John      1    0.5   126
46 2019-02-16   Saturday         71.0     John      3    0.5   199
47 2019-02-17     Sunday         96.0     John      2    0.5   141
48 2019-02-18     Monday         80.0     John      6    0.5   200
49 2019-02-19    Tuesday         71.0     John      2    0.5   193

In [22]:
# create filter to select rows based on multiple column values
df_filter = (df['Salesman'] == 'John') & (df['Day'] == 'Monday')

In [23]:
df_filter

0     False
2     False
3     False
5     False
6     False
8     False
9     False
10    False
12    False
13     True
14    False
16    False
17    False
18    False
19    False
20     True
21    False
22    False
23    False
24    False
25    False
26    False
27     True
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
41     True
42    False
43    False
44    False
45    False
46    False
47    False
48     True
49    False
dtype: bool

In [24]:
# apply filter to display df values
df[df_filter]

         Date     Day  Temperature Salesman Tweets  Price Sales
13 2019-01-14  Monday         64.0     John      8    0.5   185
20 2019-01-21  Monday         89.0     John      8    0.5   158
27 2019-01-28  Monday         96.0     John     10    0.5   166
41 2019-02-11  Monday         68.0     John      2    0.5   158
48 2019-02-18  Monday         80.0     John      6    0.5   200

In [26]:
# create filter to select rows based on column values
df_filter = (df['Day'] == 'Tuesday') | (df['Day'] == 'Monday')

In [27]:
# apply filter to display df values
df[df_filter]

         Date      Day  Temperature Salesman Tweets  Price Sales
0  2019-01-01  Tuesday         72.0     John      2    0.5   177
6  2019-01-07   Monday         81.0      Ada      3    0.3    96
13 2019-01-14   Monday         64.0     John      8    0.5   185
14 2019-01-15  Tuesday         94.0      Ada      6    0.5   137
20 2019-01-21   Monday         89.0     John      8    0.5   158
21 2019-01-22  Tuesday         82.0     John      6    0.5   192
27 2019-01-28   Monday         96.0     John     10    0.5   166
28 2019-01-29  Tuesday         84.0     John      4    0.5   198
34 2019-02-04   Monday         67.0      Ada      3    0.3    94
35 2019-02-05  Tuesday         70.0     John      4    0.5   193
41 2019-02-11   Monday         68.0     John      2    0.5   158
42 2019-02-12  Tuesday         80.0     John      0    0.5   174
48 2019-02-18   Monday         80.0     John      6    0.5   200
49 2019-02-19  Tuesday         71.0     John      2    0.5   193

In [31]:
# create filter to select rows based on column values that meet the specified conditions
df_filter = (df['Sales'] >= 100) & (df['Tweets'] <= 1)

In [29]:
# convert column data type from string to numeric
df['Sales'] = pd.to_numeric(df['Sales'],errors='coerce')

C:\Users\DrBru\AppData\Local\Temp\ipykernel_33264\2026982169.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Sales'] = pd.to_numeric(df['Sales'],errors='coerce')

In [ ]:
# df.loc[:,'Sales']= pd.to_numeric(df['Sales'],errors='coerce')

In [30]:
# convert column data type from string to numeric
df['Tweets'] = pd.to_numeric(df['Tweets'],errors='coerce')

C:\Users\DrBru\AppData\Local\Temp\ipykernel_33264\734632262.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Tweets'] = pd.to_numeric(df['Tweets'],errors='coerce')

In [32]:
# apply filter to display df values
df[df_filter]

         Date        Day  Temperature Salesman  Tweets  Price  Sales
10 2019-01-11     Friday         79.0     John       1    0.5    154
23 2019-01-24   Thursday         75.0     John       1    0.5    156
25 2019-01-26   Saturday         69.0     John       0    0.5    125
42 2019-02-12    Tuesday         80.0     John       0    0.5    174
43 2019-02-13  Wednesday         78.0     John       0    0.5    142
44 2019-02-14   Thursday         85.0     John       1    0.5    126