CSCI 101: Foundation of Data Science and Engineering<br>
Author: Bruce Huang, Ph.D.<br>
<br>
Topics: Connect to MySQL Server and use Cursor Method to Execute SQL Commands<br>

In [1]:
# import MySQL-Python Connector
import mysql.connector as sq

In [3]:
# Connect to MySQL server
mydb = sq.connect(host="localhost",user="root",passwd="ucla", buffered=True)

In [4]:
# Create cursor for SQL Command Execution
mycursor = mydb.cursor()

In [5]:
# SQL query to show databases created on MySQL server
SQLCMD = 'SHOW DATABASES'
# SQLCMD = 'CREATE SCHEMA test1012'
mycursor.execute(SQLCMD)

In [6]:
# Display all database names returned by SHOW DATABASES
for db in mycursor:
    print (db)

('cookies',)
('information_schema',)
('mydemo',)
('mysql',)
('mystore',)
('nj_teachers1',)
('nj_teachers2',)
('nj_teachers_salaries_db',)
('performance_schema',)
('property',)
('sakila',)
('supercookiesstore',)
('sys',)
('world',)

In [7]:
SQLCMD = 'CREATE DATABASE DB1004'
mycursor.execute(SQLCMD)

In [8]:
# SQL query to show databases created on MySQL server
SQLCMD = 'SHOW DATABASES'
mycursor.execute(SQLCMD)

In [9]:
# Display all database names returned by SHOW DATABASES
for db in mycursor:
    print (db)

('cookies',)
('db1004',)
('information_schema',)
('mydemo',)
('mysql',)
('mystore',)
('nj_teachers1',)
('nj_teachers2',)
('nj_teachers_salaries_db',)
('performance_schema',)
('property',)
('sakila',)
('supercookiesstore',)
('sys',)
('world',)