In [17]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [19]:
df1 = pd.read_csv("customer_feedback.csv")
df2 = pd.read_csv("sales_data.csv")

In [21]:
df1.head(3)

         date  product  sales
0  2022-12-12      iOS    473
1  2022-12-12  Android    919
2  2023-06-24      iOS    805

In [23]:
df2.head(3)

         date  product  sales
0  2022-12-12      iOS    473
1  2022-12-12  Android    919
2  2023-06-24      iOS    805