<div style="background-color: lightblue;border: 2px solid gray;">
    <h2 style ="text-align:center; padding-top:5px;"> CS 101 - Foundation of Data Science and Engineering  </h2><br>
    <p style="text-align:center;padding:5px; fontt-size:14px"><b> PSET-5 - Exploratory Data Analysis (100 pts)<b></p> <br>
</div>

# This is an individual assignment. No collaboration is allowed!

### Note: 
You are allowed to use all Python built-in functions and other Import features covered in class. Ensure your code is organized, well-commented, and follows the best practices we discussed. Remember, the key is not just to write a working program but to produce a solution that follows SPECS, is easy to debug, and is easy to maintain.

### Assignment Question List:
 
**Question 1 : Data Extraction and cleaning (1 pts)**

**Question 2 : Column Cleaning Function (15 pts)**

**Question 3 : Data Cleaning (9 pts)**

**Question 4 : Data Aggregation (30 pts)**

**Question 5 : Merging Data (10 pts)**

**Question 6 : Filtering Data (30 pts)**

**Coding Style : (5 pts)**

## Objective:
**You are tasked with performing detailed exploratory data analysis on various system datasets: CPU, Disk, and Memory. Utilize Python functions to streamline data extraction, cleaning, and aggregation.**

### Datasets:

1. **CPU Dataset: `cpu.csv`**
   - **Columns:** 'Image', 'PID', 'Description', 'Status', 'Threads', 'CPU', 'Average CPU'
   <br><br>
2. **Disk Dataset: `disk.csv`**
   - **Columns:** 'Image', 'PID', 'Model', 'Read Byte Per Second', 'Write Byte Per Second', 'Delay', 'Total Byte Per Second'
    <br><br>
3. **Memory Dataset: `memory.csv`**
   - **Columns:** 'Image', 'PID', 'Hard Faults/sec', 'Commit KB', 'Working Set KB', 'Shareable KB', 'Private KB'
    <br><br>

# Your Tasks

### 1. Data Extraction (1 pts):

a. **Load `cpu.csv` into a Pandas DataFrame named `df_cpu`. Extract only these columns:** 'Image', 'PID', 'Description', 'Status', 'Threads', 'Average CPU'

b. **Load `disk.csv` into a DataFrame named `df_disk`. Extract only these columns:** 'Image', 'PID', 'Total Byte Per Second'

c. **Load `memory.csv` into a DataFrame named `df_memory`. Extract only these columns:** 'Image', 'PID', 'Working Set KB'

d. **For each of the above data frame show the shape, and info(example : df_cpu.info())**

In [6]:
#Your code goes here. Be sure to import packages needed!
import pandas as pd
import numpy as np

In [7]:
df_cpu = pd.read_csv('cpu.csv', usecols=['Image', 'PID', 'Description', 'Status', 'Threads', 'Average CPU'])
df_disk = pd.read_csv('disk.csv', usecols=['Image', 'PID', 'Total Byte Per Second'])
df_memory = pd.read_csv('memory.csv', usecols=['Image', 'PID', 'Working Set KB'])

In [8]:
print("CPU DataFrame:")
print(df_cpu.shape)
print(df_cpu.info())
print("\n")

CPU DataFrame:
(306, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Image        306 non-null    object
 1   PID          306 non-null    object
 2   Description  290 non-null    object
 3   Status       306 non-null    object
 4   Threads      306 non-null    object
 5   Average CPU  306 non-null    float64
dtypes: float64(1), object(5)
memory usage: 14.5+ KB
None

In [9]:
print("Disk DataFrame:")
print(df_disk.shape)
print(df_disk.info())
print("\n")

Disk DataFrame:
(14, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Image                  14 non-null     object
 1   PID                    14 non-null     int64
 2   Total Byte Per Second  14 non-null     object
dtypes: int64(1), object(2)
memory usage: 464.0+ bytes
None

In [10]:
print("Memory DataFrame:")
print(df_memory.shape)
print(df_memory.info())
print("\n")

Memory DataFrame:
(306, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Image           306 non-null    object
 1   PID             306 non-null    int64
 2   Working Set KB  306 non-null    object
dtypes: int64(1), object(2)
memory usage: 7.3+ KB
None

### 2. Column Cleaning Function (15 pts):

a. **Write a Python function, `CleanColumnHeading(dfx)`, to clean the column headers of any Pandas dataframe. The function should be dynamic enough to be able to process any datasets. The function should:**

   i. Convert all column names to lowercase.
   
   ii. Replace spaces in column names with underscores `_`.

   iii. Apply the `CleanColumnHeading` function to `df_cpu`, `df_disk`, and `df_memory`.

   iv. Show examples of the changes.  

**Example:**

Function header:
```python
def CleanColumnHeading(dfx):
    # Your code to convert all column names to lowercase
    # Your code to change all spaces in column names to underscores _
    return dfx

In [11]:
def CleanColumnHeadings(dfx):
    dfx.columns = dfx.columns.str.lower().str.replace(' ', '_')
    return dfx

In [12]:
df_cpu = CleanColumnHeadings(df_cpu)
df_disk = CleanColumnHeadings(df_disk)
df_memory = CleanColumnHeadings(df_memory)

In [16]:
print("cpu dataframe columns:", df_cpu.columns.tolist())
print("disk dataframe columns:", df_disk.columns.tolist())
print("memory dataframe columns:", df_memory.columns.tolist())

cpu dataframe columns: ['image', 'pid', 'description', 'status', 'threads', 'average_cpu']
disk dataframe columns: ['image', 'pid', 'total_byte_per_second']
memory dataframe columns: ['image', 'pid', 'working_set_kb']

In [17]:
print(df_cpu.dtypes)
print(df_disk.dtypes)
print(df_memory.dtypes)

image           object
pid             object
description     object
status          object
threads         object
average_cpu    float64
dtype: object
image                    object
pid                       int64
total_byte_per_second    object
dtype: object
image             object
pid                int64
working_set_kb    object
dtype: object

### 3. Data cleaning (9 pts)
**Examine the columns 'threads', 'total_byte_per_second', 'working_set_kb' from the dataframes df_cpu, df_disk, and df_memory. We are going to work with these columns Question 4-6. Ensure that they have the correct data type, fix the values if required so. If there are invalid values drop them. At the end of this step you should not have any invalid values, and the correct data type set for the 3 columns. You are not required to do data cleaning on other columns. If you choose to do so, please ensure that no rows are dropped while cleaning these columns** 

**Hint: values such as 71,807 are not invalid. They are simply string representation of the number 71807. Fix it so they are stored as 71807, and the column datatype should either be a float or int.** 


**For each of the columns modified , show example rows of what was modified. Also call the info() method on each of the dataframes.**

In [ ]:
def clean_numeric_columnn(dfx, column_name):

### 4. Data Aggregation (30 pts):

a. **Develop an `aggregate_data(dfx)` function that:**

   - Accepts one of the dataframes (`df_cpu`, `df_disk`, or `df_memory`).
   - Dynamically identifies the dataset based on its columns.
   - Aggregates the data based on the specific dataset requirements provided below and returns an aggregated dataframe. You can name this new aggregated dataframe whatever name works (examples given).

b. **Aggregation Requirements:**

   i. For `df_cpu`:
   
          1. Group by 'image' and aggregate the 'threads' column. Use the sum() function for aggregation.
          2. The resultant dataframe should contain: 'image_name', 'process_qty', 'threads_sum'.
          3. Reset the index after aggregation.
          4. Assign the new aggregated dataframe values to df_cpu_sum.
   
   ii. For `df_disk`:
   
          1. Group by 'image' and aggregate the 'total_byte_per_second' column.Use the sum() function for aggregation.
          2. The resultant dataframe should contain: 'image_name', 'process_qty', 'total_byte_sum'.
          3. Reset the index after aggregation.
          4. Assign the new aggregated dataframe values to df_disk_sum.
   
   iii. For `df_memory`:
   
          1. Group by 'image' and aggregate the 'working_set_kb' column. Use the sum() function for aggregation.
          2. The resultant dataframe should contain: 'image_name', 'process_qty', 'working_set_sum'.
          3. Reset the index after aggregation.
          4. Assign the new aggregated dataframe values to df_memory_sum.
   
   **Note: 'process_qty' is defined by grouping by 'image' and determining the number of times a particular image name occurs. Use the size() function for aggregation**
          
c. **Run `aggregate_data()` for each of your dataframes and save them into new dataframes. Print the head(10) and tail(10) for each of the new dataframes.**

**Example:**

Function header:
```python
def aggregate_data(dfx):
    # Your code aggregates the data based on the requirements provided.
    return df_combo  # Name this resultant dataframe whatever name that works
```
Calling function and assigning the resultant dataframe to `df_cpu_sum`, `df_disk_sum`, `df_memory_sum`:
```python
df_cpu_sum = aggregate_data(df_cpu)
df_disk_sum = aggregate_data(df_disk)
df_memory_sum = aggregate_data(df_memory)
```

In [ ]:
#Your code

### 5. Merging Data (10 pts):

a. **Use the Pandas merge function to do an inner join on 'image_name' for dataframes `df_cpu_sum` and `df_disk_sum` created in the previous step. Store the result in a dataframe named `df_new`**.

b. **Further merge `df_new` with `df_memory_sum` using an inner join on 'image_name'**.

c. **Show the resulting dataframe in each of the steps above**

Please refer to the pandas merge method and its parameters here : https://pandas.pydata.org/docs/reference/api/pandas.merge.html

In [ ]:
#Your code

### 6. Filtering Data (30 pts):

a. **Filter `df_new` to obtain:**

   i. `image_name` that had 'working_set_sum' greater than 200,000. Store the result in a variable named 'high_memory_image'.

   ii. `image_name` that had 'thread_sum' greater than 200. Store the result in a variable named 'high_thread_image'.

   iii. `image_name` that had 'working_set_sum' greater than 200,000, 'thread_sum' less than 50, and 'total_byte_sum' less than 7,000. Store the result in a variable named 'hi_mem_low_thread_low_io'.
   
   iv. Show each of the filtered dataframe in separate cells. Feel free to add new cells to this notebook.

In [ ]:
#your  code here

### Coding Style (5 pts) 
Although we do not enforce a coding style such as PEP 8 (https://peps.python.org/pep-0008/) , please ensure that you have comments for each of the functions defined. Your code is readable, and includes only the code that is required by the assignment. Please remove any commented code, and experimental code that you may have tried. For each of the questions be sure to show some example rows of the dataframe that was modified or created.

## Submission on Gradescope

**Gradescope canvas left menu -> Gradescop -> PSET 5: Exploratory Data Analysis**

**Submission :**
Submit the jupyter notebook, and a pdf version of this notebook.

To create a pdf of this notebook :  In your browser open print, and save as pdf. Name the pdf LastNameFirstName_pset5.pdf
example: DoeJohn_pset5.pdf

Name this jupyter notebook with the same format LastNameFirstName_pset5.ipynb

Make sure that your notebook has been run before creating pdf. Any outputs from running the code needs to be clearly visible. We need both .ipynb, and pdf of this notebook to assign you grades. 

Drop all the files in gradescope under PSET 5: Exploratory Data Analysis.