### Numpy Array Reshape and Independent Samples T-Test

In [1]:
# read Excel or CSV File
import pandas as pd

# Store Columns as Arrays
import numpy as np

# Perform Independent-Samples T-Test 
from scipy.stats import ttest_ind

In [2]:
# Load sample data file

df = pd.read_csv ("Huang Class Differences 2 samples.csv")

In [3]:
df

    Student  Score
0         1     88
1         1     91
2         1     86
3         1     92
4         1     89
5         1     94
6         1     87
7         1     91
8         1     93
9         1     88
10        1     84
11        1     86
12        1     86
13        1     89
14        1     88
15        1     90
16        1     82
17        1     92
18        1     85
19        1     87
20        2     92
21        2     95
22        2     87
23        2     94
24        2     86
25        2     99
26        2     90
27        2     93
28        2     99
29        2     90
30        2     85
31        2     85
32        2     88
33        2     96
34        2     88
35        2     94
36        2     88
37        2     95
38        2     89
39        2     86

In [4]:
# Convert df to Numpy Array

ScoreArray=np.array(df["Score"])

In [6]:
print(ScoreArray)
print(ScoreArray.shape)

[88 91 86 92 89 94 87 91 93 88 84 86 86 89 88 90 82 92 85 87 92 95 87 94
 86 99 90 93 99 90 85 85 88 96 88 94 88 95 89 86]
(40,)

In [11]:
# Reshape Numpy Array

ScoreArr = ScoreArray.reshape(2,20)

In [12]:
print(ScoreArr)

[[88 91 86 92 89 94 87 91 93 88 84 86 86 89 88 90 82 92 85 87]
 [92 95 87 94 86 99 90 93 99 90 85 85 88 96 88 94 88 95 89 86]]

In [13]:
# Determine Equal Variance by testing if (the Larger Stand Deviation / the smaller Standard Deviation) > 2
# Assume equal variance unless (the Larger Stand Deviation / the smaller Standard Deviation) > 2

EqualVar = True
if ScoreArr[0].std() > ScoreArr[1].std():
    if (ScoreArr[0].std() / ScoreArr[1].std()) > 2:
        EqualVar = False
else:
    if (ScoreArr[1].std() / ScoreArr[0].std()) > 2:
        EqualVar = False

In [14]:
EqualVar

True

In [15]:
# Obtain T-Stat and Pvalue 
SampleT = ttest_ind(ScoreArr[0], ScoreArr[1], equal_var=EqualVar)      
print (SampleT)

Ttest_indResult(statistic=-2.0861878286815307, pvalue=0.0437258764553753)

In [16]:
SampleT.pvalue

0.0437258764553753